# Python
__pycache__/
*.py[cod]
*.pyd
*.pkl
*.pyo

# Virtual environments
venv/
.env/
.venv/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Cache and coverage
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Project specific
note.txt
