#
Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
Virtual
environments
venv/
.env/
.venv/
Logs
*.log
Jupyter
Notebook
checkpoints
.ipynb_checkpoints/
OS
files
.DS_Store
Thumbs.db
IDE
.vscode/
.idea/
Build
dist/
build/
*.egg-info/
